.modal-overlay[b-70kerdl89i] {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.45);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    padding: 20px;
}

.modal-container[b-70kerdl89i] {
    background: #EDEAE3;
    border-radius: 16px;
    max-height: 90vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}



.modal-sm[b-70kerdl89i] {
    width: 420px;
}

.modal-md[b-70kerdl89i] {
    width: 720px;
}

.modal-lg[b-70kerdl89i] {
    width: 900px;
}
