@if (Visible)
{
    <div class="modal-overlay" @onclick="HandleOverlayClick">
        <div class="modal-container @SizeClass" @onclick:stopPropagation>
            @ChildContent
        </div>
    </div>
}

@code {

}
